<div class="center hero-unit">
	
	<h1>Thank you for using One Spark!</h1>
	<p>We hope you had a great time handling your projects!</p>
	

			<%= link_to "Sign up again!", signup_path, class: "btn btn-large btn-danger" %>

</div>

