<div class="center hero-unit">
	
	<h1>Welcome to One Spark</h1>
	<p>One Spark is the perfect way to get control of your projects and get maximum on productivity!</p>
	

			<%= link_to "Sign up now!", signup_path %>
		
			<%= link_to "Learn more!", more_path %>
</div>

