<div class="center hero-unit">
	<h1>Welcome to One Spark</h1>
	<p>One Spark is the perfect way to get control of your maximum on productivity!</p>
	
	<%= link_to "Sign up now!", root_path, class: "btn btn-large btn-success" %>
	<%= link_to "Learn more!", more_path, class: "btn btn-large btn-primary" %>
</div>
