<% provide(:title, 'Imprint') %>

<div class="page-header">
	<h1>Imprint</h1>
</div>
<dl>
	<dt>Responsible for page content:</dt>
	<dd>
		<br/>
		<adress>
			<strong>One Spark GmbH</strong><br/>
			Staubweg 123 <br/>
			01234 Windhausen <br/>
			<abbr title="Phone">Phone: </abbr>+49 123 4567890	
		</adress>
	</dd>
</dl>