<% provide(:title, "Edit Profile") %>

<h1>Update your profile <%= @profile.user.username %></h1>	

	<%= link_to "Back", @profile %> |
	<%= link_to "View All", profiles_path %>

	<%= render 'form' %>


