if($('.overlay').length > 0){
	$('.darkener').remove();
	$('.overlay').replaceWith('<%= escape_javascript render("profiles/show_profile") %>');
	console.log($('.overlay, .darkener'));
}else{
	$('body').append('<%= escape_javascript render("profiles/show_profile") %>');
}

$('.closeButton').click(function () {
      $('.overlay ,.darkener').fadeOut(400, function(){
      	$(this).remove();
      });
});

'<% unless flash.empty? %>'
	'<% flash.each do |key, value| %>'	
		$('.overlay .buttons').prepend('<div class="overlay_flash alert alert-success">' + '<%= value %>' + '</div>');
		$('.overlay_flash').css('display', 'block').delay(2000).fadeOut(500);
	'<% end %>'
'<% end %>'

