<% unless commit.commit.empty? %>
<div class="element">
	<h2>
	      <%= format_date_long(commit.commit['author']['date'].to_datetime + 9.hours) %> -
	      <%= commit.commit['author']['name'] %>
	      pushed commits:                
	</h2>

	<ul>
	    <li><%= commit.commit['message'] %></li>
	</ul>
</div>
<% end %>