<%= provide(:title, 'Edit user') %>

	
  
 
  <div class="row signup">
	
  	<div class="span4 offset3">
		<h1>Update your profile</h1>
		
	   <%= render 'users/form_edit' %>
		<%= link_to "Delete your account?", current_user, method: :delete, confirm: "Are you sure? This action can NOT be undone and deletes your account on One Spark!" %>
	  </div>
	</div>
</div>