<%= provide(:title, 'Sign up') %>

<div class="center hero-unit">
  <h1>Sign up to One Spark</h1>
  <p>To create your One Spark account, just type in your information and you'll be set up in less then a minute!</p>
  <div class="row signup">
  	<div class="span4 offset3">
	    <%= render'form'%>
	  </div>
	</div>
</div>