<%= provide(:title, 'Edit Posting') %>

<!-- ///////////////////////////////////SIDEBAR2//////////////////////////////////////////-->
<div class="sidebar sidebar2">
	<div id = "toolHead" class="head">
		<h3>Postings</h3>
	</div>

	<div class="scroll-pane jspScrollable tools">
		
			<%= render partial: 'topics/sidebar', locals: { active: 'new' } %>
	</div>
</div>

<!-- ///////////////////////////////////CONTENT//////////////////////////////////////////-->
<div class="content">
	<div id = "contentHead" class="head">
		<h3><a href="#add" class="tk-ff-meta-serif-web-pro">Edit Posting: '<%= @posting.title %>'</a></h3>
	</div>

	<div class="scroll-pane jspScrollable">  <!-- scroll-pane jspScrollable -->

		
		
		<div class="tool element" id="add">  
			<%= render 'form_no_dropdown' %>
		</div>

		
	</div>
</div>
