<%= provide(:title, 'New Posting') %>

<!-- ///////////////////////////////////SIDEBAR2//////////////////////////////////////////-->
<div class="sidebar sidebar2">
	<div id = "toolHead" class="head">
		<h3>Postings</h3>
	</div>

	<div class="scroll-pane jspScrollable tools">
		
			<%= render partial: 'topics/sidebar' %>
	</div>
</div>

<!-- ///////////////////////////////////CONTENT//////////////////////////////////////////-->
<div class="content">
	<div id = "contentHead" class="head">
		<h3><a href="#add" class="tk-ff-meta-serif-web-pro">New Posting</a></h3>
	</div>

	<div class="scroll-pane jspScrollable">  <!-- scroll-pane jspScrollable -->

		
		
		<div class="element">
			<%= render 'form' %>
		</div>

		
	</div>
</div>
