<%= provide(:title, 'Dropbox') %>

    <h2>Dropbox - Account</h2>

<p><%= link_to "Back", user_path(current_user), disable_with: 'loading...', remote: true %></p>
<%= render :partial => 'tools/dropbox/dropbox_account', :locals => { :account_info => @account_info, :files => @files, :folders => @folders } %>

