<h1>Your projects</h1>

<% projects.each do |project| %>
	<p><%= link_to project.title, project_path(project) %></p>
<% end %>

<h1>Your collaborated projects</h1>
<% current_user.project_permissions.each do |cowork_project| %>
	<p><%= link_to cowork_project.title, project_path(cowork_project) %></p>
<% end %>


<h2><%= link_to "Create new project", new_project_path %></h2>