<%= provide(:title, @project.title) %>
<div class="container-fluid">
  <div class="row-fluid">
    

	
  	<div class="span8 well show_project">
		<%= render 'shared/project_scaffold'%>
			
			<div class ="tickets">
				<div class ="new_ticket">
					<h4>Edit Ticket</h4>
					<%=render 'form_new_ticket'%>
				</div>
				<hr/>
			</div>
			
	</div>
  </div>
	<div class="span3">
		<div class="sidebar-nav">
				<%= render 'shared/project_navigation'%>
		</div>
	</div>
  </div>
</div>