<!-- Coworker -->
<div class="element">
	<h1 class="element_heading"><%= headline %></h1>
	<div class="element_description">
		<dl>
			<dt>Last activities</dt>
				<% date = 1.day.from_now(@project.project_coworkers.first.created_at) rescue nil # increment the day
				    @project.project_coworkers.each do |coworker| 
				      if date > coworker.created_at.to_date
				      date = coworker.created_at.to_date
							 %>
				        <h2><%= format_date_short date %></h2>
				    	<% end %>
				      <p>
				        <%= format_date_long coworker.created_at %> added coworker <%= coworker.user.username %> </span></a>
				    </p>
				<%  end %>
			</dt>
		</dl>
	</div>
</div>