<%= provide(:title, 'Edit project') %>
<div class="container-fluid">
  <div class="row-fluid">
    
  <div class="span8 well">
	<h1>Edit: "<%= @project.title %>"</h1>
	<div class ="width350">
		<%= render  'form' %>
	</div>
	</div>
	<div class="span3">
		<div class="sidebar-nav">
			<%= render 'shared/project_navigation'%>
		</div>
 	</div>
 </div>
</div>