<%= provide(:title, "Edit project " + @project.title) %>

<div class="content">
<div id = "contentHead" class="head">
	<h3><a href="" class="tk-ff-meta-serif-web-pro">Edit: '<%= @project.title %>'</a></h3>
</div>


<div class="scroll-pane jspScrollable">

  <div class="element">
  	<%= render  'form' %>
  	
</div>
