<%= provide(:title, 'Edit project') %>
<div class="container-fluid">
	<div class = "span10 offset1">
		<h1>Edit: "<%= @project.title %>"</h1>
		<hr class="soften"/>
	  	<div class="offset2"  style="width:360px">
			<%= render  'form' %>
		</div>
	</div>
</div>
