<%= provide(:title, 'All projects') %>
<div class="container-fluid">
	<h1>Projects</h1>
	<hr class="soften"/>
	<div class="row-fluid span10">
		<% if @projects.empty? %>
			<p style="text-align:center">"I never see what has been done, I only see what remains to be done."  &#8213; <i>Buddha</i>
			</p>
		<% else %> 
				<% @projects.each do |project|%>
				  <div class="span3">
						<h2><%= link_to project.title, project_path(project) %></h2> 
						<% if project.due_date %>
							<p><i class="icon-calendar"></i> <%= time_ago_in_words(project.due_date) %></p>
						<% end %>
				  </div>	  
				<% end %>
		
		<% end %>
	</div>

	<div class="offset6 span4">
				<h3>
					<i class='icon-plus-sign' style='margin:5px'></i>
					<%= link_to "Create new project", new_project_path %>
				</h3>
		</div>
</div>
