<%= provide(:title, 'Your projects') %>
<div class ="content">
	<div class ="scroll-pane jspScrollable">

		<div id="add">
			<%= render 'form' %>
		</div>
		<h2 class="seperator">Owned Projects</h2>
			<% if @projects.empty? %>
				<div class ="welcome">
					<h1>
						Hi there, do you want to create a new project?
					</h1>
				</div>

			<% else %> 
				<%= render :partial => 'projects/project', :collection => @projects %>						
			<% end %>

		<% unless @collab_projects.empty? %>
		<h2 class="seperator">Collaborated Projects</h2>
		<%= render :partial => 'projects/project', :collection => @collab_projects %>
		<%end %>
	</div>
</div>
