<%= provide(:title, 'Your projects') %>
<div class ="content">
	<div class ="scroll-pane jspScrollable">

		<div id="add">
			<%= render 'form' %>
		</div>
		
			<% if @projects.empty? %>
				<p style="text-align:center">
					"I never see what has been done, I only see what remains to be done." &#8213; <i>Buddha</i>
				</p>

			<% else %> 
				<%= render :partial => 'projects/project', :collection => @projects %>						
			<% end %>

		<h2 class="seperator">Collaborated Projects</h2>
		<%= render :partial => 'projects/project', :collection => @all_projects %>
	</div>
</div>
