<%= provide(:title, 'Your projects') %>
<div class ="content">
	<div class ="scroll-pane jspScrollable">
		<div class= "project listedElem">
			<h1>
				<%= link_to "Create new Project", new_project_path%>
			</h1>
		</div>
		
		<h2 class="center">Owned Projects</h2>
			<% if @projects.empty? %>
				<p style="text-align:center">
					"I never see what has been done, I only see what remains to be done." &#8213; <i>Buddha</i>
				</p>

			<% else %> 
				<%= render :partial => 'projects/project', :collection => @projects %>						
			<% end %>

		<h2 class="center">Collaborated Projects</h2>
		<%= render :partial => 'projects/project', :collection => @all_projects %>
	</div>
</div>
