<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
		<div class="sidebar-nav">
			<%= render 'navigation'%>
		</div>
 	</div>

	
  <div class="span8 well">
		<%= render  'form' %>
  </div>
</div>