<%= provide(:title, 'New project') %>
<div class="container-fluid">

		<h1>Create a new project</h1>
		<hr class="soften"/>
	<div class = "span10 offset4">
			<div class="row">
	  		<div class="span4"  style="width:360px">
						<%= render  'form' %>
				</div>
		</div>
	</div>
</div>



