<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
		<div class="sidebar-nav">
			<ul class="nav nav-list well">
				<li class="nav-header">Projects</li>
				<% if @projects.any? %>
					<% @projects.each do |project|%>
						<li><%= link_to project.title, project_path(project) %></li>
					<% end %>
				<% else%>
					<li><%= link_to "Create Project...", new_project_path %>
				<% end %>
			</ul>
		</div>
 	</div>

	
  <div class="span8 well">
		<h1><%= @project.title %></h1>
		<p><%= @project.desc %></p>
  </div>
</div>