@import 'jquery.jscrollpane.css';
@import 'variables'; 
@import 'utilities';
@import 'global'; 
@import 'app_element_account';
@import 'app_element_overlay';


.head {
	height:5em;
	font-size: 1em;
	h3 {
		font-size: 1.6em;
	}
}

#home {
	float:left;
	text-align:center;
	line-height:4.5em;
	width: 3em;
	background-color:$sidebarDarkSeperator;
	@include transition(background-color, 0.1s, linear);
	img{
		vertical-align:middle;
	}
	&:hover{
		background-color:$onesparkOrange;
		cursor:pointer;
	}
}

#projectHead {
	background-repeat: no-repeat;
	background-position:0 center;
	float: left;
	border:none;
	position:relative;
	width: 13em;
	color:$onesparkOrange;
	h3 {
		position:absolute;
		top: 50%;
		left: 0.5em;
	}
}

#title {
	float:left;
}

#head #account {
	position:relative;
	float:right;
	input{
		border-bottom:none;
	}
}

.content {
	width:100%;
	overflow:auto;
	.scroll-pane{
		overflow:auto;
	}

	.listed_elem {

		background-color: $softWhite;
		border-bottom: 1px solid $sidebarGrey;
		// padding: 1em;
		// padding-left: 3.5em;
	}
	.project {
		min-height:10em;
	}
}

#add {
	border-bottom: 1px solid $sidebarGrey;
}
form {
	padding-top: .375em;
	fieldset {
		margin-bottom: .375em;
	}
	label {
		width: 14em;
		margin-top:1em;
		border:1px solid $toolbarGrey;
		padding: 1em 1em;
		margin: 0;
		cursor:pointer;
		display:block;
		float:left;
		background: $sidebarGrey url(../assets/img/head-add.png) no-repeat 100% 50%;
		@include transition(background-color, .2s, ease-in-out);
		&:hover{
			background-color: $sidebarGreySeperator;
		}
	}
	input[type="submit"], input[type = "radio"]{
		float:left;
	}
	.details {
		display:none;
	}
	textarea{
		height:8em;
	}
	.cancelButton{	
		float:left;
		display:block;
	}
}

.seperator{
	text-align:center;
	background-color: $sidebarGrey;
	color: $sidebarGreySeperator;
	padding-top:1em;
	border-bottom:1px solid $sidebarGrey;
}

