@import "bootstrap";

/* colors*/
$grayMediumLight: #eaeaea;
$onesparkOrange: #FF7400;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}



/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.9em;
  color: $onesparkOrange;
  /*text-transform: uppercase;*/
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
 	color: $onesparkOrange;
    text-decoration: none;
  }
}


/* footer */

footer {
  margin-top:50px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
	a {
	    color: $gray;
	    &:hover { 
	      color: $onesparkOrange;
	    }
	}
	small { 
	    float: left; 
	}
	ul {
	    float: right;
	    list-style: none;
	    li {
	      float: left;
	      margin-left: 10px;
	    }
	  }
}

/* modified bootstrap */


.hero-unit {
	.btn-large {
		margin-top:25px;
		margin-right:15px;
		margin-left:15px;
	}
}


/* debug */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}