@import "bootstrap";

/* colors*/
$grayMediumLight: #eaeaea;
$onesparkOrange: #ea5b0b;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}



/* header */

#logo {
  background-image: url('logo.png');
  background-repeat:no-repeat;
  float: left;
  margin-right: 10px;
  font-size: 1.9em;
  color: $onesparkOrange;
  /*text-transform: uppercase;*/
  letter-spacing: -1px;
  padding-top: 23px;
  padding-left:38px;
  font-weight: bold;
  line-height: 1;
  &:hover {
 	color: $onesparkOrange;
    text-decoration: none;
  }
}

.navbar .container {
	padding-top:5px;
}
.navbar .nav.pull-right  {
	padding-top: 23px;
}

/* content */

.signup {
	margin-top:50px;
	text-align:left;
}

.profile {
	margin-top:50px;
}

/* forms */
label {
	font-size:1.3em;
}


.signup input, textarea, select, .uneditable-input {
	width: 100%;
	padding: 8px;
	height: auto;
	margin-bottom: 15px;
	@include box_sizing
}

#error_explanation {
  color:#f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

/* footer */

footer {
  margin-top:50px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
	a {
	    color: $gray;
	    &:hover { 
	      color: $onesparkOrange;
		  text-decoration:none;
	    }
	}
	small { 
	    float: left; 
	}
	ul {
	    float: right;
	    list-style: none;
	    li {
	      float: left;
	      margin-left: 10px;
	    }
	  }
}

/* modified bootstrap */

.hero-unit {
	margin-top:50px;
	.btn-large {
		margin-top:25px;
	}
	p {
		margin-top:25px;
	}
}

/* */

/* debug */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}