@import "bootstrap";

/* ================ colors  ================ */
$grayMediumLight: #eaeaea;
$onesparkOrange: #ea5b0b;
$osOrange: #FF6600;
$bubbleBlue: #39ade6;
$backgroundLightBlue: #e2e6ec;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

@mixin link_gray_blue {
	a {
		color:$grayDark;	
	}
	a:hover {
		color:$linkColorHover;
		text-decoration: none;
	}
}
 /* ================  universal  ================ */

html {
  overflow-y: scroll;
}

body {
  padding-top: 100px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.flash {
	border-radius: 4px 4px 4px 4px;
	border:none;
	position:absolute;
	z-index:333;
	margin-left:210px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	width:760px;
	button {
		border:none;
	}
}



/* ================ header  ================ */

#logo {
  background-image: url('logo.png');
  background-repeat:no-repeat;
  float: left;
  margin-right: 10px;
  font-size: 1.9em;
  color: $osOrange;
  /*text-transform: uppercase;*/
  letter-spacing: -1px;
  padding-top: 23px;
  padding-left:38px;
  font-weight: bold;
  line-height: 1;
  &:hover {
 	color: $osOrange;
    text-decoration: none;
  }
}

/* ================ navigation  ================ */
.active {
	color:#FF0000;
}

.navbar .container {
	padding-top:5px;
}
.navbar .nav.pull-right  {
	padding-top: 23px;
}

.link_icon {
	color:$linkColor;
}
/* ================ content ================ */
.content_whrapper {
	min-height:480px;
}
.signup, .signin {
	margin-top:50px;
	text-align:left;
	
	input, textarea, select, .uneditable-input {
		width: 100%;
		padding: 8px;
		height: auto;
		margin-bottom: 15px;
		@include box_sizing
	}
}

.profile {
	margin-top:50px;
}

span.bubble {
	border: 1px solid transparent;
	border-radius: 5px 5px 5px 5px;
    color: #666666;
    display: inline-block;
    line-height: 16px;
	padding: 0 7px;
	white-space: nowrap;
	background: none repeat scroll 0 0 $backgroundLightBlue;
}

/* ================ content projects ================ */
.show_project h1{
	@include link_gray_blue
}
.due_date {
	margin:auto;
	font-size:16px;
}

.project_headline {
	h1, h4 {
		display:inline;
	}
	p {
		padding-left:12px;
		margin-top:10px;
	}
	.due_date {
		margin-left:25px;
	}
	.bubble {
		font-size:1.2em;
	 	border: 4px solid transparent;
	}
	
	
}

.project_buttons {
	width:470px;
}
.project_actions {
	padding-top:15px;
	a {
		padding-right:8px;
	}
}
/* ================ tickets ================ */

.show_ticket {
	h4 {
	display:inline;
	}
	p {
		padding-left:12px;
		margin-top:10px;	
	}
	a:hover h4{
		color:$linkColorHover;
	}
}
.new_ticket {
	font-size:12px;
	
	label {
		font-size:11px;
	}
	textarea {
		height:60px;
	}
	.buttons {
		width:360px;
		input {
			width:152px;
			padding:5px 4px 5px 4px;
		}
		a {
			width:130px;
		}
		a:hover {
			color:$grayDark;
		}
		
	}
}

.tickets {
	ul {
		margin-left:0px;
	}
	li {
		padding: 4px 0px 0px 12px;
		list-style-type:none;
	}
	.edit_icons {
		display:inline;
		margin-left:10px;
	}
	@include link_gray_blue	
}
.ticket_actions {
	a {
		padding-right:8px;
	}
}
/* ================ forms ================ */
label {
	font-size:1.3em;
}

#error_explanation {
  color:#f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.two_edit_buttons input{
	width:49%;
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

.width350{
	width:350px;
}

.ticket_form {
	margin-top:10px;
	font-size:0.85em;
}

/* ================ footer ================ */

footer {
  margin-top:50px;
  margin-bottom:50px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
	a {
	    color: $gray;
	    &:hover { 
	      color: $onesparkOrange;
		  text-decoration:none;
	    }
	}
	small { 
	    float: left; 
	}
	ul {
	    float: right;
	    list-style: none;
	    li {
	      float: left;
	      margin-left: 10px;
	    }
	  }
}


/* ================ modified bootstrap ================ */

hr.soften {
    background-image: -moz-linear-gradient(left center , transparent, rgba(0, 0, 0, 0.1), transparent);
    border: 0 none;
    height: 1px;
    margin: 54px 0;
}
.container {
	width:1180px;
}

.navbar-inner {
}

h1 {
	font-size: 40px;
    font-weight: 300;
    margin: 36px 0 27px;
    text-align: center;
}
h2 {
	font-weight: 300;
	margin-bottom:15px;
}
h3 {
	margin-bottom:15px;
}

.hero-unit {
	margin-top:50px;
	.btn-large {
		margin-top:25px;
	}
	p {
		margin-top:25px;
	}
}
.well {
	background-color:grayLighter;
	a {
		text-decoration:none;
	}
}
.sidebar-nav .nav li a:hover {
	background-color:$backgroundLightBlue;
}

input, textarea, select {
	width:460px;
}
textarea {
	height:200px;
}

.span3 {
	margin-bottom:15px;
}

.alert {
	margin-bottom:0px;
}


/* ================ messages ================ */

/* ================ debug ================ */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}