* {
	margin:0;
	padding:0;
	font-family: $lucida;
	&:focus{
		outline: none;
	}
}

h1, h2, h3, h4, h5, h6 { 
	line-height: 1em;
	font-family: $officina;
	font-weight:normal;
	a{
		font-family:$officina;
		text-decoration:none;
		color:inherit;
		&:hover {
			text-shadow: 0px 0px 5px rgba(255, 0, 0, 0.3);
		}
	}
}

a {
	&:hover {
		@if color == $onesparkOrange {
			text-shadow: 0px 0px 5px rgba(255, 0, 0, 0.3);
		}
		

	}
}

// Generelle Einstellungen ////////////////////////////////////////////////////////////////////////

body {
	width:100%;
	overflow:hidden;
	background:$softWhite;
	font-size:.8em;
}

.jspDrag {
	width:100%;
	background: black;
	border:none;
}

.jspverticalbar{
	width: 1em;
}

.jspTrack {	
	width: 1em;
	border-left: 1px solid $sidebarGreySeperator;
	background: $sidebarGrey;
	position: relative;
}

h3 {
	color: $onesparkOrange;
}

.cancelButton {
	display:block;
	width: auto;
	float: left;	
	text-decoration: none;
	
}
input[type="submit"] {	
	float: left;
}

input, textarea, .cancelButton {
	font-size:1em;
	margin: 0;
	padding: 1em 1.2em;	
}

fieldset{
	border:none;
}

textarea, input {
	display: block;
}

textarea, input[type="text"], input[type="password"] {
	border: 1px solid $sidebarGreySeperator;
	background: $softWhite;
	@include innerShadow(0, 1px, 3px, rgba(0,0,0,.1));
	&:focus{
		background: white;
		border: 1px solid $activeBlue;
		@include innerShadow(0, 0, 5px, $activeBlue);
	}
}


input[type="submit"], .cancelButton, .button {
	cursor:pointer;
	border:1px solid $sidebarGreySeperator;
	background-color:$sidebarGrey;
	color: $sidebarDark;
	@include gradient;
	//@include multipleTransitions(background-image .2s ease-in-out, color .2s ease-in-out);
	
	&:hover, &:focus {
		border:1px solid $sidebarGreySeperator;
		color:black;
		@include gradient(rgba(215,215,215,1), rgba(205,205,205,1));
		//@include shadow(0px, 1px, 2px, 0, rgba(0,0,0, .2));
	}
	
	&:active{
		color:white;
		border:1px solid black;
		background: black;
	}
}

input[type="file"] {
	padding: .9em;	
	margin-left: 166px;
	border:1px solid $sidebarGreySeperator;
	position: relative;
	text-align: right;
	z-index: 2;
}

#head {
	width:100%;
	float:left;
	border-bottom: 1px solid $sidebarGrey;
}

.field_with_errors input {
	border: 1px solid rgba(255,0,0, .5);
	@include innerShadow(0, 0, 5px, rgba(255,0,0, .2));
}
#error_explanation {
	font-weight:bold;
	color: red;
	ul{
		font-weight:normal;
		list-style-type:none;
	}
	margin-bottom:1em;
}

.alert {
  padding: 8px 35px 9px 35px;
  color: #c09853; 
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background: #fcf8e3 url(../assets/img/head-add.png) no-repeat 100% 50%;
  border: none;
}

.alert-heading {
  color: inherit;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}


.flash {
  border:none;
  position:absolute;
  z-index:299;
  right: 195px;
  /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);*/
  width:auto;
  button {
    border:none;
  }
}
.element {
	margin-left:0;
	height: auto;
	width:auto;
	border-bottom: 1px solid $sidebarGrey;
	background-color: $softWhite;
	padding:1.5em;
	position: relative;

	h1 {
		font-size:2em;
	} 
	ul {
		list-style-type: none;
	}
	//background: $softWhite url(../assets/img/elem-task.png) no-repeat 0% 50%;

}

.content .element_settings, .element_settings {

	position: absolute;
	top: 0;
	right: 0;
	a,p {
		color: $sidebarGreySeperator;
		float: left;
		padding: 1em 1.5em;
		text-transform:lowercase;
		text-decoration:none;
		display: block;
	}
	a {	
		&:hover{
			background-color: $sidebarGrey;
			color: black;
			opacity: 1;
		}
	}
}

.element_heading {
	height:100%;
	margin-bottom: 1em;
}

.element_description {
	dl {
		min-height: 3em;

		dt {
			padding-right:2em;
			color: $sidebarGreySeperator;
			font-weight: normal;
			line-height: 1.2;
		}
		dd {
			font-weight: normal;
			padding-right:2em;
			margin: 0 0 10px 0;
			line-height: 1.4;
		}	
	}
}
.element_links {
	float:left;
	height: 10em;
	width: 33%;
}
.element_comments {
}

.profile_index {
	padding-left: 3.5em;
}

.tool_head_active {
	background-image: url(../assets/img/head-red.png);
	background-repeat: no-repeat;
	background-position:0 center;
	h3 {
		position:absolute;
		top: 50%;
		left: 1em;
	}
}

.folder-info {
	color: $sidebarGreySeperator;
	margin-left: 1.5em;
	margin-top:3.5em;
	float: left;
	a{
		color: $sidebarGreySeperator;
	}
}

.content {
	overflow:auto;
	clear:left;
}

.inactive {
	cursor: wait;
	opacity: .5;
}

.debug {
	background-image: url(../assets/img/sidebar-tools-active.png);
	background-repeat:no-repeat;
	background-position: 100%;
	position: absolute;
	bottom:0;
	right:0;
	z-index: 500;
	//display:none;
}
