
// Auf @import Reihenfolge achten!
@import 'variables';
@import 'utilities';
@import 'global';
@import 'app_element_account';
@import 'app_element_overlay';

.close {
	display: none;
}

.open {
	display: all;
}


// Head ////////////////////////////////////////////////////////////////////////////////////

.head {
	height:5em;
	font-size: 1em;
	h3 {
		font-size: 1.6em;
	}
}

#home {
	float:left;
	text-align:center;
	line-height:4.5em;
	width: 3em;
	border-right: 1px solid $sidebarDarkSeperator;
	background-color:$onesparkOrange;
	@include transition(background-color, 0.05s, linear);
	img{
		vertical-align:middle;
	}
	&:hover{
		background-color: $sidebarDark;
		cursor:pointer;
	}
}

#projectHead {
	margin-left: 3em;
	position:relative;
	width: 13em;
	background-color:$onesparkOrange;
	color: white;
	h3 {
		color: white;
		position:absolute;
		top: 50%;
		left: 0.2em;
	}
}

#toolHead {
	background-image: url(../assets/img/head-red.png);
	background-repeat: no-repeat;
	background-position:0 center;
	position:relative;
	h3 {
		position:absolute;
		top: 50%;
		left: 1em;
	}
}

#contentHead {
	position:relative;
	min-width:16em;
	border-bottom: 1px solid $sidebarGrey;
	h3 {
		display:block;
		position:absolute;
		top: 50%;
		left: 1em;
		a{
			color: $onesparkOrange;
			text-decoration: none;
			text-shadow: 0px 0px 0px rgba(255, 0, 0 , 0);
			@include transition(text-shadow, .05s, linear);
			&:hover{
				text-shadow: 0px 0px 5px rgba(255, 0, 0, 0.3);
			}
		}
	}
}

// SideBar //////////////////////////////////////////////////////////////////////////

.sidebar {
	height:100%;
	float:left;
	width:16em;
	.active {
		background-repeat:no-repeat;
		color: $onesparkOrange;
	}
	a{
		text-decoration:none;
    color: white;
	}
	.tool{
		line-height: 4em;
		height: 4em;
		cursor: pointer;
	}
}


// SideBar 1 ////////////////////////////////////////////////////////////////////////

.sidebar1 {
	position:relative;
	z-index:0;
	background-color: $sidebarDark;
	//background-image: url(../assets/img/black_linen_v2.png);
	color:white;

	.head{
		border-bottom: 1px solid $sidebarDarkSeperator;
	}

	.scroll-pane{
		overflow:auto;
		height:auto;
	}
	.jspDrag {
		width:100%;
		background: $sidebarDark;
		border:none;
	}
	.jspverticalbar{
		width: 1em;
	}
	.jspTrack	{	
		border-left:1px solid $sidebarDarkSeperator;
		width: 1em;
		background: #222;
		position: relative;
	}	
	.tool {
		@include transition(background-color, 0.1s, linear);
		padding-left:3.5em;
		background-image: url(../assets/img/sidebar-tools-inactive.png);
		background-repeat:no-repeat;

		&:hover{
			background-color: black;
		}
		a {
			color:white;
		}
		&.active {
		background-image: url(../assets/img/sidebar-tools-active.png);
		background-color:$sidebarDarkSeperator;
		}
	}

	
	.add {
		border-bottom: 1px solid $sidebarDarkSeperator;
		background-image:none;
	}
	.overview{
		background-position: 1em 1.3em;	
	}
	.coworkers{
		background-position: 1em -3.8em;
	}
	.files{
		background-position: 1em -8.8em;
	}
	.milestones{
		background-position: 1em -13.6em;
	}
	.documents {
		background-position: 1em -18.7em;
	}
	.calendar {
		background-position: 1em -23.7em;
	}
	.dialogs {
		background-position: 1em -28.5em;
	}
	.settings {
		background-position: .9em -33.5em;
	}
	.trash {
		background-position: 1em -38.3em;
	}

}

// SideBar 2 ////////////////////////////////////////////////////////////////////////

.sidebar2 {
	position:relative;
	z-index:100;
	height:100%;
	background:$softWhite;
	.scroll-pane{
		overflow:auto;
		height:auto;
	}

	.jspDrag {
		width:100%;
		background: $sidebarGrey;
		border:none;
	}
	.jspverticalbar{
		width: 1em;
	}
	.jspTrack	{	
		border-left:1px solid $sidebarGreySeperator;
		width: 1em;
		background: #ddd;
		position: relative;
	}	

	.head {
		border-bottom: 1px solid $sidebarGrey;
	}

	.tool {
		padding-left: 1.5em;
		background-color: $softWhite;
		@include transition(background-color, 0.1s, linear);
		border-bottom: 1px solid $sidebarGrey;
		&:hover{
			background-color:$sidebarGrey;
		}
	}
	.add {
		background-image: none;
		&:hover{
			background-image:none;
		}
	}
	.active {
		//background-color:$sidebarGrey;
	}
	a{
		color:black;
	}
}

// Content //////////////////////////////////////////////////////////////////////////

.content{
	z-index:200;
	border-left:solid 1px $sidebarGrey;
	&:focus{
		outline:none;
	}
	position:absolute;
	top:0;
	left:31.9em;
	height:100%;
	overflow:hidden;
	background-color: $softWhite;
	.head{
		border-bottom:1px solid $sidebarGrey;
	}

	.jspDrag {
		width:100%;
		background: black;
		border:none;
	}
	.jspverticalbar{
		width: 1em;
	}
	.jspTrack	{	
		width: 1em;
		background: $sidebarGrey;
		position: relative;
	}	

	#add {
		cursor: auto;
		min-height:4em;
		padding:0;

		form {
			padding-top: .375em;
			fieldset {
				margin-bottom: .375em;
			}
			label {
				width: 12em;
				margin-top:1em;
				border:1px solid $toolbarGrey;
				padding: 1em 1em;
				margin: 0 .5em;
				cursor:pointer;
				display:block;
				float:left;
				background: $sidebarGrey url(../assets/img/head-add.png) no-repeat 100% 50%;
				@include transition(background-color, .2s, ease-in-out);
				&:hover{
					background-color: $sidebarGreySeperator;
				}
			}
			input[type="submit"], input[type = "radio"]{
				float:left;
			}
			.details {
				display:none;
			}
			textarea{
				height:8em;
			}
			.cancelButton{	
				float:left;
				display:block;
			}
		}
		
	}

	#authorize {
		cursor: auto;
		min-height:4em;		
		padding:0;
		div{	
			padding-top: .375em;
			margin-left: 0.5em;
		}
	}

 	a {
   		color:black;
   		&:hover {
   			color:$onesparkOrange;
   		}
    }

    .small_link {
    font-size:0.85em;
    }    
}




















