@import 'variables'; 
@import 'utilities';
@import 'global'; 


body {
	// because jscrollpane needs the body's overflow hidden
	// – jscrollpane isn't needed in our static pages
	overflow:auto;
}

.brand {
	margin-top: 2em;
	clear: both;
	text-align: center;
	font-weight: normal;
	font-style: italic;
	h1 {
		font-size:1.2em;
		margin-top:.5em;
		text-transform: lowercase;
	}
	img {
		width: 10em;
	}
}

.login {
	margin-top:4em;
	width: 16.5em;
	margin-left:auto;
	margin-right:auto;

	*{
		margin-bottom: .375em;
	}
	.login_info{
		margin-bottom:2em;
	}
	.login_text {
		width:14em;
	}
	.login_helper {
		text-align:right;
		margin-top: 2em;
		clear:left;
		color:$sidebarGreySeperator;
		* {
			color:$sidebarGreySeperator;
		}		
	}
	.login_button {
	}
	.login_label {
		width: 20%;
		margin-top:1em;
		border:1px solid $toolbarGrey;
		padding: 1em 1em;
		margin: 0 .5em;
		cursor:pointer;
		display:block;
		float:left;
		background: $sidebarGrey url(../assets/img/head-add.png) no-repeat 100% 50%;
		@include transition(background-color, .2s, ease-in-out);
		&:hover{
			background-color: $sidebarGreySeperator;
		}
	}
}

.badge {
	border:none;
	position:fixed;
	top: 0;
	left : 2em;
	opacity:1;
	display:block;
	text-align:center;
	margin-left: 0em;
	height: 6em;
	width: 4em;
	background-color:$onesparkOrange;
	&:hover{
		@include shadow(0px, 0px, 5px, 0px, rgba(255, 0, 0, .3));
	}
	img{
		width:3em;
		margin-top:.5em;
	}
}

