/*
 * ------------------------------------------------------------------------------------------
 * Farben
 * ------------------------------------------------------------------------------------------
 */

$sidebarDark: #151515;
$sidebarDarkSeperator: #101010;
$sidebarDarkInput: #efefef;
$sidebarGrey: #efefef;
$sidebarGreySeperator : #ccc;
$onesparkOrange: #ff0000;
$softWhite: #fcfcfc;
$activeBlue: rgba(0,130,200, .3);
$toolbarGrey: #fafafa;
/*
 * ------------------------------------------------------------------------------------------
 * Fonts
 * ------------------------------------------------------------------------------------------
 */

$officina: ITC Officina Serif, Droid Serif, Georgia, serif;
$lucida: "Lucida Grande", "Lucida Sans Unicode",Verdana, Tahoma, Trebuchet MS, sans-serif;

* {
	margin:0;
	padding:0;
	font-family: $lucida;
	&:focus{
		outline: none;
	}
}

h1, h2, h3, h4, h5, h6 { 
	line-height: 1em;
	font-family: $officina;
	font-weight:normal;
	a{
		font-family:$officina;
	}
}

// Mixins ///////////////////////////////////////////////////////////////////////////////////////

@mixin rounded ($radius: 5px) {
  border-radius: 			$radius;
  -moz-border-radius: 		$radius;
  -webkit-border-radius:	$radius;
}

@mixin border {
	border: 5px solid rgb(0, 0, 0);
	border: 5px solid rgba(0, 0, 0, 0.1);
}

@mixin txtbutton {
	@include transition(background-color, 0.1s, linear);
	border:none;
	font-family: $lucida;
	padding:  1em;
	background-color:black;
	cursor: pointer;
	color: white;
	&:hover{
		background-color:$orange;
		@include shadow(0px, 0px, 4px, 0px, rgba(255, 102, 0, 1));
	}
	&:focus{
		background-color:$orange;
	}
}

@mixin transition($property, $duration: 0.3s, $timing: linear){
	-moz-transition:	$property $duration $timing;
 	-webkit-transition:	$property $duration $timing;
	-o-transition:		$property $duration $timing;
	transition: 		$property $duration $timing;
}

@mixin shadow($x: 0px, $y:2px,  $blur: 10px, $spread:0px, $color: rgba(0,0,0,.5)){
	-moz-box-shadow: 	$x $y $blur $spread $color;
	-webkit-box-shadow:	$x $y $blur $spread $color;
	-o-box-shadow: 		$x $y $blur $spread $color;
	box-shadow: 		$x $y $blur $spread $color;
}

@mixin innerShadow($x: 0px, $y:2px, $blur:5px, /*$spread:0px,*/ $color: rgba(0,0,0,.5)){

	-moz-box-shadow: inset $x $y $blur $color;
	-webkit-box-shadow: inset $x $y $blur $color;
	box-shadow: inset $x $y $blur $color;
}

@mixin gradient( $color1: rgb(245,245,245), $color2:rgb(235,235,235)){
	background-image: linear-gradient(bottom, $color1 100%, $color2 0%);
	background-image: -o-linear-gradient(bottom, $color1 100%, $color2 0%);
	background-image: -moz-linear-gradient(bottom, $color1 100%, $color2 0%);
	background-image: -webkit-linear-gradient(bottom, $color1 100%, $color2 0%);
	background-image: -ms-linear-gradient(bottom, $color1 100%, $color2 0%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, $color1),
		color-stop(0, $color2)
	);
}

@mixin multipleTransitions($property1, $property2){
	/* Firefox */
	-moz-transition: $property1, $property2;

	/* WebKit */
	-webkit-transition:  $property1, $property2;
	
	/* Opera */
	-o-transition:  $property1, $property2;
	
	/* Standard */
	transition:  $property1, $property2;
}

// Generelle Einstellungen ////////////////////////////////////////////////////////////////////////

body {
	width:100%;
	overflow:hidden;
	background:$softWhite;
	font-size:.8em;
	border-right: 1em solid $sidebarGreySeperator;
}

.jspDrag {
	width:100%;
	background: black;
	border:none;
}

.jspverticalbar{
	width: 1em;
}

.jspTrack {	
	width: 1em;
	border-left: 1px solid $sidebarGreySeperator;
	background: $sidebarGreySeperator;
	position: relative;
}

h3 {
	color: $onesparkOrange;
}

.noFocus:focus {
    outline: none;
}

form {
	input, textarea, .cancelButton {
		font-size:1em;
		margin: 0;
		padding: 1em 1.2em;	
	}

	fieldset{
		border:none;
	}

	textarea, input {
		display: block;
	}

	textarea, input[type="text"] {
		border: 1px solid $sidebarGreySeperator;
		background: $softWhite;
		@include innerShadow(0, 1px, 3px, rgba(0,0,0,.1));
		&:focus{
			background: white;
			border: 1px solid $activeBlue;
			@include innerShadow(0, 0, 5px, $activeBlue);
		}
	}

	input[type="submit"], .cancelButton {
		cursor:pointer;
		border:1px solid $sidebarGreySeperator;
		background-color:$sidebarGrey;
		color: $sidebarDark;
		@include gradient;
		//@include multipleTransitions(background-image .2s ease-in-out, color .2s ease-in-out);
		
		&:hover, &:focus {
			border:1px solid $sidebarGreySeperator;
			color:black;
			@include gradient(rgba(215,215,215,1), rgba(205,205,205,1));
			//@include shadow(0px, 1px, 2px, 0, rgba(0,0,0, .2));
		}
		
		&:active{
			color:white;
			border:1px solid black;
			background: black;
		}
	}
}

// Account Features ////////////////////////////////////////////////////////////////////////

#account{
	z-index: 300;
	position:absolute;
	top: 0;
	right: 0;
	border-left:1px solid $sidebarGreySeperator;
	input {
		width:100%;
		font-size:1em;
		color: black;
		padding-left: 4em;
		margin-right:-4em;
		height:2.45em;
		//background-color:$sidebarDarkInput;
		background-image: url(../assets/img/search.gif);
		background-repeat: no-repeat;
		background-position: 1em center;
		border:none;
		border-bottom: 1px solid $sidebarGreySeperator;
		border-top: 1px solid $sidebarGreySeperator;
	}
	
	ul {			
		li {
			@include gradient;
			height: 2.5em;
			width: 3em;
			float:left;
			border-right: 1px solid $sidebarGreySeperator;	
			list-style-type: none;
			cursor: pointer;
			@include transition(background-color, 0.1s, linear);
			
			text-align: center;	

			line-height:2.1em;
			overflow:hidden;
			img{
				@include transition(opacity, 0.1s, linear);
				opacity: 0.5;
				vertical-align:middle;
				overflow:hidden;
			}

			&:hover{

				background-color: $onesparkOrange;
				overflow:hidden;
				img {
					opacity: 1;
				}
			}
		}

		.profile {
			img {
				opacity: 1;
				width:100%;
				overflow: hidden;
				&:hover{
					opacity: 0.5;
				}
			}
		}
	}
}

// Head ////////////////////////////////////////////////////////////////////////////////////

.head {
	height:5em;
	font-size: 1em;

	h3 {
		font-size: 1.6em;
	}
}

#home {
	float:left;
	text-align:center;
	line-height:4.5em;
	width: 3em;
	border-right: 1px solid $sidebarDarkSeperator;
	background-color:$onesparkOrange;
	@include transition(background-color, 0.05s, linear);
	img{
		vertical-align:middle;
	}
	&:hover{
		background: $onesparkOrange;
		cursor:pointer;
	}
}

#projectHead {
	margin-left: 3em;
	position:relative;
	width: 13em;
	background-color:$onesparkOrange;
	color: white;
	h3 {
		color: white;
		position:absolute;
		top: 50%;
		left: 0.2em;
	}
}

#toolHead {
	background-image: url(../assets/img/head-red.png);
	background-repeat: no-repeat;
	background-position:0 center;
	position:relative;
	h3 {
		position:absolute;
		top: 50%;
		left: 1em;
	}
}

#contentHead {
	position:relative;
	min-width:16em;
	//background-image: url(../assets/img/head-2.png);
	//background-repeat: no-repeat;
	//background-position:0 center;
	border-bottom: 1px solid $sidebarGrey;
	
	h3 {
		display:block;
		position:absolute;
		top: 50%;
		left: 1em;
		a{
			color: $onesparkOrange;
			text-decoration: none;
			text-shadow: 0px 0px 0px rgba(255, 0, 0 , 0);
			@include transition(text-shadow, .05s, linear);
			&:hover{
				text-shadow: 0px 0px 5px rgba(255, 0, 0, 0.3);
			}
		}
	}
}

// SideBar //////////////////////////////////////////////////////////////////////////

.sidebar {
	height:100%;
	float:left;
	width:16em;
	.active {
		background-repeat:no-repeat;
		color: $onesparkOrange;
	}
	a{
		text-decoration:none;
    color: white;
	}
	.tool{
		line-height: 4em;
		height: 4em;
		cursor: pointer;
	}
}


// SideBar 1 ////////////////////////////////////////////////////////////////////////

.sidebar1 {
	//@include shadow;
	position:relative;
	z-index:0;
	background-color: $sidebarDark;
	//background-image: url(../assets/img/black_linen_v2.png);
	color:white;

	.head{
		border-bottom: 1px solid $sidebarDarkSeperator;
	}

	.scroll-pane{
		overflow:auto;
		height:auto;
	}
	.jspDrag {
		width:100%;
		background: $sidebarDark;
		border:none;
	}
	.jspverticalbar{
		width: 1em;
	}
	.jspTrack	{	
		border-left:1px solid $sidebarDarkSeperator;
		width: 1em;
		background: #222;
		position: relative;
	}	
	.tool {
		@include transition(background-color, 0.1s, linear);
		padding-left:3.5em;
		background-image: url(../assets/img/sidebar-tools-inactive.png);
		background-repeat:no-repeat;

		&:hover{
			background-color:$sidebarDarkSeperator;
		}
		a {
			color:white;
		}
	}

	.active {
		background-image: url(../assets/img/sidebar-tools-active.png);
		background-color:$sidebarDarkSeperator;
	}
	.add {
		border-bottom: 1px solid $sidebarDarkSeperator;
		background-image:none;
	}
	.overview{
		background-position: 1em 1.3em;	
	}
	.coworkers{
		background-position: 1em -3.8em;
	}
	.files{
		background-position: 1em -8.8em;
	}
	.milestones{
		background-position: 1em -13.6em;
	}
	.documents {
		background-position: 1em -18.7em;
	}
	.calendar {
		background-position: 1em -23.7em;
	}
	.dialogs {
		background-position: 1em -28.5em;
	}
	.settings {
		background-position: .9em -33.5em;
	}
	.trash {
		background-position: 1em -38.3em;
	}

}

// SideBar 2 ////////////////////////////////////////////////////////////////////////

.sidebar2 {
	//border-left:1px solid $onesparkOrange;
	@include shadow;
	position:relative;
	z-index:100;
	height:100%;
	background:$softWhite;
	.scroll-pane{
		overflow:auto;
		height:auto;
	}

	.jspDrag {
		width:100%;
		background: $sidebarGrey;
		border:none;
	}
	.jspverticalbar{
		width: 1em;
	}
	.jspTrack	{	
		border-left:1px solid $sidebarGreySeperator;
		width: 1em;
		background: #ddd;
		position: relative;
	}	

	.head {
		border-bottom: 1px solid $sidebarGrey;
	}

	.tool {
		padding-left: 1.5em;
		background-color: $softWhite;
		@include transition(background-color, 0.1s, linear);
		border-bottom: 1px solid $sidebarGrey;
		&:hover{
			background-color:$sidebarGrey;
		}
	}
	.add {
		background-image: none;
		&:hover{
			background-image:none;
		}
	}
	.active {
		//background-color:$sidebarGrey;
	}
	a{
		color:black;
	}
}

// Content //////////////////////////////////////////////////////////////////////////

.content{
	width:50%;
	max-width:100%;
	position:relative;
	z-index:200;
	border-left:solid 1px $sidebarGrey;
	&:focus{
		outline:none;
	}
	position:absolute;
	top:0;
	left:31.9em;
	height:100%;
	overflow:hidden;
	background-color: $softWhite;
	.head{
		border-bottom:1px solid $sidebarGrey;
	}
	/*
	#add {
		cursor: auto;
		height:4em;
		padding-top:0;
		padding:0;
		@include transition(background-color, 0.1s, linear);
		
		*{
			margin-right:.5em;
		}
		
		&:hover{
			//background-color: $activeBlue;
		}
		form {
			fieldset {
				float:left;
			}
			label {
				padding: 0 2.5em 0 1.5em;
				line-height: 4em;
				margin-right:2em;
				cursor:pointer;
				display:block;
				float:left;
				background: $sidebarGrey url(/wp-content/themes/pears/images/tag-bg.png) no-repeat 0 50%;
				&:hover{
					background-color: $sidebarGreySeperator;
				}
			}
			input {
				//position:relative;
				//z-index:220;
				margin-top:.375em;
			}
		}
	}*/
	#add {
		cursor: auto;
		min-height:4em;
		padding-top:0;
		padding:0;
		@include transition(background-color, 0.1s, linear);

		form {
			padding-top: .375em;
			fieldset {
				margin-bottom: .375em;
			}
			label {
				width: 10em;
				margin-top:1em;
				border:1px solid $toolbarGrey;
				padding: 1em 1em;
				margin: 0 .5em;
				cursor:pointer;
				display:block;
				float:left;
				background: $sidebarGrey url(../assets/img/head-add.png) no-repeat 100% 50%;
				@include transition(background-color, .2s, ease-in-out);
				&:hover{
					background-color: $sidebarGreySeperator;
				}
			}
			input[type="submit"]{
				float:left;
			}
			.details {
				display:none;
			}
			textarea{
				height:8em;
			}
			.cancelButton{	
				float:left;
				display:block;
			}
		}
	}

	.task{
		border-bottom: 1px solid $sidebarGrey;
		background: $softWhite;
		margin-left:0;
		padding:1.5em;
		height: auto;
		width:auto;

		h1 {
			font-size:3em;
		}    
	}

 	a {
   		color:black;
    }
}




