/*
 * ------------------------------------------------------------------------------------------
 * Farben
 * ------------------------------------------------------------------------------------------
 */

$sidebarDark: #151515;
$sidebarDarkSeperator: #101010;
$sidebarDarkInput: #efefef;
$sidebarGrey: #efefef;
$sidebarGreySeperator : #ccc;
$onesparkOrange: #ff0000;
$softWhite: #fcfcfc;
$activeBlue: rgba(0,130,200, .3);
$toolbarGrey: #fafafa;

/*
 * ------------------------------------------------------------------------------------------
 * Fonts
 * ------------------------------------------------------------------------------------------
 */

$officina: ITC Officina Serif, Droid Serif, Georgia, serif;
$lucida: "Lucida Grande", "Lucida Sans Unicode",Verdana, Tahoma, Trebuchet MS, sans-serif;
