<footer class="footer">
  <small>
    &copy; One Spark GmbH 2012
  </small>
  <nav>
    <ul>
      <li><%= link_to "Imprint", imprint_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>